<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="orderHistory_container">
            <div class="orderHistory_head">
                <h1>Order History</h1>
            </div>
            <div class="OrderHistory_body">
                <div class="orderHistory_box">
                    <div class="orderHistory_boxHead">
                        <h2> Ordered On :- 20205-02-14</h2>
                    </div>
                    <div class="">
                        <table>
                            <tr class="tr">
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total Price</th>
                            </tr>
                            <tr>
                                <td>anDisk SSD PLUS 1TB Inte..</td>
                                <td>1</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>First</td>
                                <td>1</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>First</td>
                                <td>1</td>
                                <td>200</td>
                                <td>200</td>
                            </tr>
                            <tr >
                                <td colspan="3" ></td>
                                <td colspan="1" >1200</td>
                            </tr>
                        </table>
                    </div>
                </div>

                
            </div>
        </div>
        
    </body>
</html>